* {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: blue;
    font-size: large;
    font-weight: bold;
}

.functions-list {
    margin: 5px;
    padding: 5px;
    width: fit-content;
    border-style: solid;
    border-width: 2px;
}

.functions-list h2 {
    color: #212529;
    font-size: medium;
    font-weight: bold;
}

.functions-list ul {
    list-style-type: none;
}

.functions-list ul li {
    color: #343a40;
}
