* {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: blue;
    font-size: large;
    font-weight: bold;
}

.functions-list {
    margin: 5px;
    border-style: solid;
    border-width: 2px;
    h2 {
        color: black;
        font-size: medium;
        font-weight: bold;
    }
    li {
        color: gray;
        list-style-type: none;
    }
    
}

